/* For mobile phones: */
@media (max-width: 768px) {
  /* style nav */
  nav {
    flex-direction: column;
    text-align: left;
  }
  nav a {
    padding: 3px 20px;
  }

  #about ul {
    padding: 0;
  }

  /*about*/
  #about > .container {
    grid-template-columns: 1fr;
  }

  .three-column {
    grid-template-columns: 1fr;
  }

  /*certificate*/
  #certificate > .container {
    grid-template-columns: 1fr;
  }
  .orange-border-left {
    border-left: 0;
  }
}
